{% block content %}

{#{% include 'votacao/snippets/nav.html' %}#}

<form method="post">
  {% csrf_token %}
  <p>
      <label for="fnome">First Name:</label>
      <input name="fnome" id="fnome" required type="text"/> <br/>
      <label for="lnome">Last Name:</label>
      <input name="lnome" id="lnome" required type="text"/> <br/>
      <label for="username">Username:</label>
      <input name="username" id="username" required type="text"> <br>

      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" /> <br/>
      <label for="password">Password:</label>
      <input type="Password" id="password" required name="password" /> <br/>
  </p>
    <button class="btn" onclick="window.location.href='{% url 'feed:login' %}'" type="button"> Voltar ao Login </button>
    <button type="submit">Criar Conta</button>
</form>

{% endblock %}