{% load static %}


    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

{% block content %}
<div class="register-container">
    <div class="logo">
        <img src="{% static 'media/logo.jpeg' %}" alt="logo" >
    </div>
    <div class="divider"></div>
    <div class="form-container">
          {% if messages %}
            <ul class="messages">
              {% for message in messages.error %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}

  <form class="login_form" action="{% url 'feed:login' %}" method="post">
    {% csrf_token %}
    <p>
      <label class="lbl1" for="nome">Username:</label>
       <input type="text" id="nome" name="nome" placeholder="user" required/> <br/> <br/>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="******" required/>
    </p>
      <input class="btn" type="submit" value="Login" /> <br><br>
      Não tem conta? <a href='{% url 'feed:criarUser' %}'> <span class="blue-text">Registe-se</span></a>
  </form>
  <br/>
        </div>

    </div>
{% endblock %}
