
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

<div class="grid-container">
<div class="icons">
    {% include 'snippets/icons.html' %}
</div>

<div class="feed">
    <h1>Perfil de {{ user.user.username }}</h1>
    {% if not user.profile_picture %}
        <img class="profile" src="{% static 'media/default.png' %}" style="max-width: 200px; max-height: 200px" alt="default">
    {% else %}
        <img class="profile" width="100" src="{{ user.profile_picture.url }}" alt="{{ user.user.username }}">
    {% endif %}
    <h3>Bio: {{ user.user.profile.bio }}</h3>

    {% for post in posts %}
        <div>
        {% if post.content %}
            <img src="{{ post.content.url }}" width="200" alt="{{ post.user}}">
            <p>{{ post.description }}</p>
        {% endif %}
        </div>
    {% empty %}
        <p>No posts yet!</p>
    {% endfor %}
</div>
</div>
